* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 4px solid rgba(139, 139, 139, 0.35);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 48px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
    width: 85px;
    height: 85px;
    text-align: center;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #525252;
}

#paper {
    background-color: #525252;
}

#scissors {
    background-color: #525252;
}

p {
    font-weight: bold;
    font-size: 20px;
}

.your-score span {
    color: rgb(0, 102, 255);
}

.machine-score span {
    color: rgb(0, 255, 64);
}